body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    

}
h1{
    font-size: 50px;
    font-weight:bold;
    margin-top: 20%;
}
.skip{
    color: tomato;
}
#Imagine{
    font-size: 20px;
    padding-bottom: 30px;
}
.top{
    display: flex;
    margin-bottom: 100px;
    padding-left: 10%;
    padding-right: 5%;
}
.Halfwidthtop{
    width: 50%;
    
    
}
.orderfood{
    text-decoration: none;
    color: white;
    font-size: larger;
    background-image: linear-gradient(orange,tomato);
    padding: 20px 40px;
    font-weight: 400px;
    border-radius: 30px;
    box-shadow: ;
    box-shadow: 10px 10px 60px  rgb(247, 215, 157);
}
img{
    width: 100%;
}
#about{
    font-size: 20px;
    padding-bottom: 10%;
}
#aboutpic{
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
}
.fd{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.halfwidth{
    width: 60%;
}
h2{
    color: rgb(138, 136, 136);
    font-size: 40px;
    margin-top: 30%;
}